* {
  box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main {
  padding: 2%;
  background-color:lightblue;
  color: rgb(203, 254, 203);
}

.main h2 {
  margin-top: 0;
  text-align: center;
}

.opening {
  font-size: 2rem;
  color: white;
  padding: 0;
  display: center;
  text-align: center;
  
}

