* {
  box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main {
  padding: 2%;
  background-color: lightskyblue;
  color: rgb(203, 254, 203);
}

.main h2 {
  margin-top: 0;
  text-align: center;
}

.opening {
  font-size: 2rem;
  color: white;
  padding: 0;
  display: center;
  text-align: center;

}

.header {
  padding: 5px;
  text-align: center;
  background: #008aca;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

.search-bar {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.button {
  color: black;
  background-color: lightskyblue;
  font-family: Gill Sans, sans-serifGill Sans, sans-serif;

}

.card {
  background-color: lightblue;
}

.city {
  font-size: 2rem;
}

.list-group-item {
  font-size: 1rem;
  /* padding: 10px; */
  display: inline-block;
  margin-right: 50px;
  margin-left: 10px;
  border: 2px groove #212529;
  background-color: lightblue;
  border-radius: 15px;
  font-weight: bold;
  flex: 1 1 auto;
  width: fit-content;
}

.buttonBlue {
  padding: 10px;
}

.box {
  display: inline-block;
  background-color: lightskyblue;
  color: white;
  padding: 20px;
  margin: 5px;
}

.day-forecast {
  margin-left: 10px;
}